<!DOCTYPE html>
<html>
  <head>
    <title>Add a Track</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename= 'css/style.css')}}" />
  </head>
  <body>
 <h1>Add a Track </h1>
<nav class = "myMenu">
		<ul>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/">Home</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/set_list">Set Lists</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/shows">Shows</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/album">Albums</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track">Tracks</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/band_members">Band Members</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track_contributors">Track Contributors</a></li>
		</ul>
	</nav>
<br>
<form method="POST" action="/">
    Track Name <input type="text" name="Track_Name" />
    <br>
    Track Length <input type="number" name="Track_Length" />
    <br>
    Album ID <input type="number" name="Album_ID" />
    <br>
    Band Members ID <input type="number" name="Band_Member_ID" />
    <br>
    <input type="submit">
  </form>
 </body>
 <html>