<!DOCTYPE html>
<html>
  <head>
    <title>Album</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename= 'css/style.css')}}" />
  </head>
  <body>
 <h1> Add an Album to Album Table </h1>
<nav class = "myMenu">
		<ul>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/">Home</a></li>	
			<li><a href="http://flip3.engr.oregonstate.edu:3975/set_list">Add a Set List</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/shows">Add a Show</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/album">Add an Album</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track">Add a Track</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/band_members">Add a Band Member</a></li>
		</ul>
	</nav>
<br>	
<table style="width:100%">
  <tr>
    <th>Album ID</th>
    <th>Album Name</th>
    <th>Release Date</th>
  </tr>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
  </tr>
  <tr>
    <td>10,000 Days</td>
    <td>Fear Inoculum</td>
    <td>Aenima</td>
    <td>Undertow</td>
  </tr>
  <tr>
    <td>2006-05-02</td>
    <td>2019-08-30</td>
    <td>1996-09-17</td>
    <td>1993-04-06</td>
  </tr>
</table>
<br>
<form method="POST" action="">
    Album Name <input type="text" name="Album Name" />
    <br>
    Release Date <input type="date" name="Release Date" />
    <br>
    <input type="submit">
  </form>
 </body>
</html>