<!DOCTYPE html>
<html>
  <head>
    <title>Add a Set List</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename= 'css/style.css')}}" />
  </head>
  <body>
 <h1>Add to a Set List</h1>
<nav class = "myMenu">
		<ul>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/">Home</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/set_list">Set Lists</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/shows">Shows</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/album">Albums</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track">Tracks</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/band_members">Band Members</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track_contributors">Track Contributors</a></li>
		</ul>
	</nav>
<br>	
<form method="POST" action="/add_set_list_new">
	Line Up ID <select name="lineup_id">
       {% for L in lineup %}
         <option value="{{L[0]}}">{{L[0]}}</option>
       {% endfor %}
	</select><br>
	Show City <select name="city">
       {% for c in city %}
         <option value="{{c[0]}}">{{c[0]}}</option>
       {% endfor %}
	</select><br>
	Track ID<select name="track_id">
       {% for t in track %}
         <option value="{{t[0]}}">{{t[0]}}</option>
       {% endfor %}
	</select><br>
	Track Name<select name="track_name">
       {% for n in track_name %}
         <option value="{{n[0]}}">{{n[0]}}</option>
       {% endfor %}
	</select><br>
	<br>
    <input type="submit">
  </form>
  <h3>Line Up Added to Set List!</h3>
 </body>
 <html>