<h1> Welcome to the database for the band Tool! </h1>
  <br>
  <a href="http://flip3.engr.oregonstate.edu:3975/set_list">Add a Set List</a>
  <a href="http://flip3.engr.oregonstate.edu:3975/shows">Add a Show</a>
  <a href="http://flip3.engr.oregonstate.edu:3975/album">Add an Album</a>
  <a href="http://flip3.engr.oregonstate.edu:3975/track">Add a Track</a>
  <a href="http://flip3.engr.oregonstate.edu:3975/band_members">Add a Band Member</a>
  <br>
<img src= "/static/images/tool-band-eye-tattoo.jpg" />
<br>
