<!DOCTYPE html>
<html>
  <head>
    <title>Band Members</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename= 'css/style.css')}}" />
  </head>
  <body>
 <h1>Band Member Table</h1>
<nav class = "myMenu">
		<ul>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/">Home</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/set_list">Set Lists</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/shows">Shows</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/album">Albums</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track">Tracks</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/band_members">Band Members</a></li>
		</ul>
	</nav>
<br>	
<table style="width:75%" table border="1" table align = "center">
  <tr>
    <th>Band Member ID</th>
    <th>Name</th>
    <th>Instrument</th>
	<th>Birthdate</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Maynard James Keenan</td>
    <td>Vocals</td>
	<td>1964-04-17</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Adam Jones</td>
    <td>Guitar</td>
	<td>1965-01-15</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Danny Carey</td>
    <td>Drums</td>
	<td>1961-05-10</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Justin Chancellor</td>
    <td>Bass Guitar</td>
	<td>1971-11-19</td>
  </tr>
</table>
<br>
<br>	
<a href="http://flip3.engr.oregonstate.edu:3975/add_band_members"><button type="button">Add</button></a>
 </body>
</html>
