<!DOCTYPE html>
<html>
  <head>
    <title>Shows</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename= 'css/style.css')}}" />
  </head>
  <body>
 <h1>Shows Table</h1>
<nav class = "myMenu">
		<ul>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/">Home</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/set_list">Set Lists</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/shows">Shows</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/album">Albums</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track">Tracks</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/band_members">Band Members</a></li>
		</ul>
	</nav>
<br>	
<table style="width:75%" table border="1" table align = "center">
  <tr>
    <th>Show ID</th>
    <th>City</th>
    <th>Set List ID</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Vancouver</td>
    <td>2</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Portland</td>
    <td>3</td>

  </tr>
  <tr>
    <td>3</td>
    <td>Seattle</td>
    <td>4</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Los Angeles</td>
    <td>1</td>
  </tr>
</table>
<br>
<br>
<a href="http://flip3.engr.oregonstate.edu:3975/add_shows"><button type="button">Add</button></a>
  </body>
</html> 