<!DOCTYPE html>
<html>
  <head>
    <title>Track Contributors</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename= 'css/style.css')}}" />
  </head>
  <body>
 <h1>Track Contributors Table </h1>
<nav class = "myMenu">
		<ul>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/">Home</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/set_list">Set Lists</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/shows">Shows</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/album">Albums</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track">Tracks</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/band_members">Band Members</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track_contributors">Track Contributors</a></li>
		</ul>
	</nav>
<br>	
<table style="width:75%" table border="1" table align = "center">
  <tr>
    <th>Track ID</th>
    <th>Band Member ID</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td><button type="button">Edit</button></td>
    <td><button type="button">Delete</button></td>
  </tr>
  <tr>
    <td>1</td>
    <td>2</td>
    <td><button type="button">Edit</button></td>
    <td><button type="button">Delete</button></td>
  </tr>
  <tr>
    <td>2</td>
    <td>1</td>
    <td><button type="button">Edit</button></td>
    <td><button type="button">Delete</button></td>
  </tr>
  <tr>
    <td>2</td>
    <td>1</td>
    <td><button type="button">Edit</button></td>
    <td><button type="button">Delete</button></td>
  </tr>
</table>
<br>
<br>
 </body>