<!DOCTYPE html>
<html>
  <head>
    <title>Update Track</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename= 'css/style.css')}}" />
  </head>
  <body>
 <h1>Update Track </h1>
<nav class = "myMenu">
		<ul>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/">Home</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/set_list">Set Lists</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/shows">Shows</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/album">Albums</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track">Tracks</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/band_members">Band Members</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track_contributors">Track Contributors</a></li>
		</ul>
	</nav>
<br>
<form method="POST" action="/update_track/{{track.0}}">
    <input type="hidden" name="track_id" value = "{{track.0}}">
	Track Name <input type="text" name="track_name" value = "{{track[1]}}" required />
    <br>
    Track Length <input type="number" step = "0.01" min = "0" name="track_length" value = "{{track[2]}}" required />
    <br>
	Album ID <input type="number" name="album_id" value = "{{track[3]}}" />
	<br>
	<input type="submit">
  </form>
 </body>
 <html>